html {
    height: 100%;
}
body {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    background-image: linear-gradient( 180deg, #b3d9ec, #f4ffab 20%, #71d675 );
}

img:not([alt]) {
    border: red 1px solid;
}

p {
    text-align: justify;
}

p:last-of-type {
    text-align: right;
}

#container-logo-marca {
    background-color: #ffffff80;
    box-shadow: 4px 4px 4px #0003;
    padding: 30px;
}

#logo-marca {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.curiosidade {
    background-image: url("./imgs/favo-de-mel.png");
    border: #f89e09 1px solid;
    border-radius: 5px;
    padding: 20px;
}

.curiosidade img {
    float: left;
    margin-right: 20px;
}

.casta-de-abelha {
    border-radius: 50%;
    border: #f89e09 5px solid;
}

.casta-de-abelha.esquerda {
    float: left;
    margin-right: 20px;
}

.casta-de-abelha.direita {
    float: right;
    margin-left: 20px;
}

#cancelar-flutuacao-esquerda {
    clear: left;
}

a:link {
    color: purple;
    text-decoration: none
}

a:hover {
    color: cyan;
}

a:active {
    color: white;
}

a:visited {
    color: rebeccapurple;
}

a[href^="http"] {
    background-color: #d3d3d3;
}